

      <h2 id="title">{{restaurant.name}}</h2>



  <h3>COMMANDES</h3>


      <section class="liste_commandes">

        <h4 class="day">{{tomorrowDay}} {{displayNumberDay(command.date)}} {{displayMonth(command.date)}} </h4>

        <div>
          <img src="../../assets/meule.jpg">
        </div>


        <div id="quantityBloc">

        <button id="circleButtonMoins" (click)="updateCommand(command,addOrSubQuantity=-1)">-</button>



        <h1 id="quantityNumber">{{command.quantity}} </h1>

          <button id="circleButtonPlus" (click)="updateCommand(command,addOrSubQuantity=1)">+</button>


        </div>

      </section>


    <!--le bloc des prochains jours de la semaine-->

    <div id="bloc" *ngFor="let futurCommand of commandsListOfTheWeek" [routerLink]="['futurCommand',futurCommand.id]">
      <button id="weekDayButton" *ngIf="futurCommand.date > tomorowDate">
        {{displayThreeCharacterDay(futurCommand.date)}}{{displayDateDayMonth(futurCommand.date)}}
      </button>
    </div>

      <button (click)="getNextWeek()">>></button>



