

      <h2 id="title">{{restaurant.name}}</h2>



  <h3>COMMANDES</h3>


      <!--Ma section pour choisir une autre livraison dans la semaine-->

      <!--<button id="buttonLeft" *ngIf="futurCommand.date > tomorowDate"
              (click)="pastCommandByRestaurantIdAndDate(futurCommand.date)">Retour
      </button>-->
      <!--<button id="buttonRight" (click)="getCommandByRestaurantIdAndDate(futurCommand.date)">Jour suivant</button>
-->

      <button id="orangeButton"  *ngFor="let futurCommand of commandsListOfTheWeek" [routerLink]="['futurCommand',futurCommand.id]">{{displayDayOfDate(futurCommand.date)}}</button>

      <button (click)="getNextWeek()">>></button>

        <!--
      <section id="liste_commandes_futures" *ngIf="futurCommand.date>todayDate && bool===true">
        <h5> {{displayFrenchDate(futurCommand.date)}} </h5>
        <h4>Livraison du : {{displayDayOfDate(futurCommand.date)}} </h4>

        <h3>{{futurCommand.quantity}} PAINS</h3>
        <button id="buttonModifierQuantit" [routerLink]="['futurCommand',futurCommand.id]">MODIFIER LA QUANTITE</button>
      </section>-->


      <!--Ma section pour la livraison du lendemain-->

      <section *ngIf="bool===false" class="liste_commandes">

        <h4 class="day">{{tomorrowDay}} {{displayFrenchDate(command.date)}} </h4>

        <h5 class="day">Quantité</h5>
        <div id="quantity">
        <button class="circleButton" (click)="updateCommand(command,addOrSubQuantity=-1)">-</button>
        <h3 id="quantityNumber">{{command.quantity}} </h3>
        <button class="circleButton" (click)="updateCommand(command,addOrSubQuantity=1)">+</button>
        </div>

      </section>







