li {
  list-style-type: none;
}


#liste_commandes{
  border: solid;
  border-color: black;
  margin-left: 40%;
  margin-right: 40%;

}


.buttonQuantity{
  border: solid;
  background-color: black;
  color: white;
  width: 50px;
  cursor: pointer;
}
