li {
  list-style-type: none;
}

#title{
  color: saddlebrown;
}

.liste_commandes{
  border: solid;
  border-color: black;
  margin-left: 38%;
  margin-right: 38%;
  background-color: #4CAF50;;

}

#liste_commandes_futures{
  border: solid;
  border-color: black;
  margin-left: 38%;
  margin-right: 38%;
  background-color: sandybrown;
}

#futurCommande{
  border: solid;
  border-color: black;
  background-color: darkgrey;
  margin-left: 44%;
  margin-right: 44%;
}

/*
#buttonLeft{
  margin-right: 5%;
}
*/

#quantity{
  display: flex;

}

#quantityNumber{
  color: white;
}

.circleButton{
background-color: white; /* Green */
border: none;
color: #4CAF50;;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 30px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50%;
}

#buttonModifierQuantit{
  background-color: orangered;
  color: whitesmoke;
}

.buttonQuantity{
  border: solid;
  background-color: black;
  color: white;
  width: 50px;
  cursor: pointer;
}

.day{
  color: white;
}

#orangeButton{
  background-color: #4CAF50;;
  color: whitesmoke;
}
