
<h2 id="title">{{restaurant.name}}</h2>






<h3>COMMANDES</h3>




<button id="buttonRight" [routerLink]="['/restaurants',restaurant.id]">Retour</button>

<section id="futurCommande" >

  <h5>{{dayDate(command.date)}} {{ displayFrenchDate(command.date)}} </h5>
  <h3> {{ command.quantity}} PAINS</h3>
  <button class="buttonQuantity"(click)="updateCommand(command,-1)" >-</button>
  <button class="buttonQuantity" (click)="updateCommand(command,+1)" >+</button>
</section>


<!--
<section *ngIf="bool===false" id="liste_commandes">
  <h4 id="day">Livraison du : {{tomorrowDay}} </h4>
  <h5>{{displayFrenchDate(command.date)}} </h5>
  <h5>{{command.quantity}} PAINS</h5>
  <button class="buttonQuantity" (click)="updateCommand(command,addOrSubQuantity=-1)">-</button>
  <button class="buttonQuantity" (click)="updateCommand(command,addOrSubQuantity=1)">+</button>
</section>-->
