#title{
  color: saddlebrown;
}

#futurCommande{
  border: solid;
  border-color: black;
  background-color: darkgrey;
  margin-left: 44%;
  margin-right: 44%;
}


.buttonQuantity{
  border: solid;
  background-color: black;
  color: white;
  width: 50px;
  cursor: pointer;
}

.liste_commandes{
  border : solid;
  border-width:1px;
  border-color: gray;
  margin-left: 38%;
  margin-right: 38%;
  background-color: white;

}

#day{
  color: #3d3d3d;
}

#quantityNumber{
  font-size: 60px;
  margin-top: 2%;
  color: #ff6955;
}



#quantityBloc{
  display: flex;
  justify-content: center;
  margin-bottom: 20%;

}

#backButton{

}

#circleButtonMoins  {
  outline:0;
  box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin-right: 7%;
  cursor: pointer;
  border-radius: 40%;
  height: 10%;
  width: 20%;

  position: relative;
  top: 0px;
  transition: all ease 0.3s;
}

#circleButtonMoins:active{
  box-shadow: 0 3px 0 lightgray;
  top: 3px;
}

#circleButtonPlus  {

  box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin-left: 7%;
  cursor: pointer;
  border-radius: 40%;
  height: 10%;
  width: 20%;


  position: relative;
  top: 0px;
  transition: all ease 0.3s;

}

#circleButtonPlus:active {
  box-shadow: 0 3px 0 lightgray;
  top: 3px;
}
