
<h2 id="title">{{restaurant.name}}</h2>






<h3>COMMANDES</h3>




<button id="buttonRight" [routerLink]="['/restaurants',restaurant.id]">Retour</button>

<section class="liste_commandes" >

  <h5>{{ displayFrenchDate(command.date)}} </h5>
  <h4 id="day">Livraison du : {{dayDate(command.date)}} </h4>
  <div>
    <img src="../../assets/meule.jpg">
  </div>

  <div id="quantityBloc">
  <button id = "circleButtonMoins"(click)="updateCommand(command,-1)" >-</button>
  <h3 id="quantityNumber"> {{ command.quantity}}</h3>
  <button id="circleButtonPlus" (click)="updateCommand(command,+1)" >+</button>
  </div>
</section>


<!--
<section *ngIf="bool===false" id="liste_commandes">
  <h4 id="day">Livraison du : {{tomorrowDay}} </h4>
  <h5>{{displayFrenchDate(command.date)}} </h5>
  <h5>{{command.quantity}} PAINS</h5>
  <button class="buttonQuantity" (click)="updateCommand(command,addOrSubQuantity=-1)">-</button>
  <button class="buttonQuantity" (click)="updateCommand(command,addOrSubQuantity=1)">+</button>
</section>-->
