
<table>
<tr>
  <th>Restaurant</th>
  <th>{{setDayOfTheWeek(dateOftheDay)}}</th>



</tr>


<tr *ngFor="let restaurant of restaurantListNotOk">

  <td> {{restaurant.name}}</td>

  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,dateOftheDay)}}</td>
  <button id="validButton" (click)="addRestaurantInrestaurantListOk(restaurant)">OK</button>

</tr>

  <tr *ngFor="let restaurant of restaurantListOk">

    <td> {{restaurant.name}}</td>

    <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,dateOftheDay)}}</td>
  <button id="cancelButton" (click)="cancelAddRestaurantInrestaurantListOk(restaurant)">Annuler</button>

  </tr>

</table>
