table{
  color: orangered;
  background-color: whitesmoke;

}

td {
  border: solid;

}

#validButton{
  background-color: forestgreen;
  color: white;
}


#cancelButton{

  background-color: red;
  color: white;
}
