
<h3>Semaine N° {{id}}</h3>
<h6>Du {{startUrl}} au {{endUrl}}</h6>

<div class="container">


  <table class="table table-striped table-condensed">


    <thead >
    <tr>
      <th>Restaurant</th>
      <th>{{startUrl}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,1)}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,2)}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,3)}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,4)}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,5)}} </th>
      <th>{{findOtherDayOfTheWeek(startUrl,6)}} </th>

      <th>TOTAL semaine</th>


    </tr>
    </thead>

    <tbody>



<tr *ngFor="let restaurant of restaurantList">


  <td >{{restaurant.name}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, startUrl)}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,1))}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,2))}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,3))}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,4))}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,5))}}</td>
  <td>{{getCommandQuantityByRestaurantIdAndDate(restaurant.id, findOtherDayOfTheWeek(startUrl,6))}}</td>


</tr>


    </tbody>


  </table>


</div>
