<tr>
  <th>Restaurant</th>
  <th>lundi </th>
  <th>mardi </th>
  <th>mercredi </th>
  <th>jeudi </th>
  <th>vendredi </th>
  <th>samedi </th>
  <th>dimanche </th>


</tr>


<tr *ngFor="let restaurant of restaurantList">

  <td> {{restaurant.name}}</td>

  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-06')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-07')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-08')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-09')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-10')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-11')}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,'2020-04-12')}}</td>

</tr>



