
<h3>Semaine N° {{numberOfTheWeek}}</h3>
<h6>Du {{mondayOfTheWeek2}} au {{sundayOfTheWeek}}</h6>

<tr>
  <th>Restaurant</th>
  <th>lundi </th>
  <th>mardi </th>
  <th>mercredi </th>
  <th>jeudi </th>
  <th>vendredi </th>
  <th>samedi </th>
  <th>dimanche </th>
  <th>TOTAL semaine</th>


</tr>


<tr *ngFor="let restaurant of restaurantList">

  <td> {{restaurant.name}}</td>

  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,mondayOfTheWeek)}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,1))}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,2))}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,3))}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,4))}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,5))}}</td>
  <td>{{getQuantityCommandByRestauIdAndDate(restaurant.id,findOtherDayOfTheWeek(mondayOfTheWeek,6))}}</td>
  <td></td>
</tr>



