<div>
  <div>
    <button class="welcome_Page_button" type="submit">
      <a style="text-decoration:none" [routerLink]="['']">
        <img class="clap_boulange" src="/assets/laboulange.jpg" alt="clap de boulange" title="Accueil">
      </a>
    </button>
  </div>
  <div>
    <h1>BAKER DELIVERY</h1>
  </div>
  <div>
    <a style="text-decoration:none" [routerLink]="['/restaurants']" title="Ma liste de restaurants">
      <button class="button_connexion" type="submit">Ma Liste</button>
    </a>
  </div>
</div>
