<div>
  <div>
    <button class="welcome_Page_button" type="submit">
      <a style="text-decoration:none" [routerLink]="['']">


        <div class="wprock-img-zoom-hover">

          <div class="wprock-img-zoom">
        <img class="clap_boulange" src="/assets/laboulange.png" alt="clap de boulange" title="Accueil">

          </div>

        </div>


      </a>
    </button>
  </div>
  <div>
    <h1>BAKER DELIVERY</h1>
  </div>
  <div>
    <a style="text-decoration:none" [routerLink]="['/restaurants']" title="Ma liste de restaurants">
      <button class="button_connexion" type="submit">Ma Liste</button>
    </a>
  </div>
</div>

